 <!-- Secci贸n Footer -->
    <footer class="bg-gray-200 text-gray-700 py-8 px-6 md:px-12">
      <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <!-- Columna de informaci贸n de la marca -->
        <div class="mb-8 md:mb-0">
          <h2 class="text-2xl font-playfair mb-2">Tialed</h2>
          <p class="text-sm">Hecho con <a href="https://www.squarespace.com/" class="underline">Squarespace</a></p>
        </div>

        <!-- Columna de ubicaci贸n -->
        <div class="mb-8 md:mb-0">
          <h3 class="text-lg font-semibold mb-2">Ubicaci贸n</h3>
          <p class="text-sm">Calle de ejemplo, 123</p>
          <p class="text-sm">Nueva York, NY 12345</p>
        </div>

        <!-- Columna de contacto -->
        <div>
          <h3 class="text-lg font-semibold mb-2">Contacto</h3>
          <p class="text-sm">correo@ejemplo.com</p>
          <p class="text-sm">(555) 555-5555</p>
        </div>
      </div>
    </footer>