<footer class="bg-white text-black max-w-screen-xl mx-auto px-4 py-16">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <!-- Título de la Marca y Hecho por -->
    <div class="flex flex-col items-start">
      <h2 class="text-5xl">Tialed</h2>
      <p class="text-sm text-gray-500 mt-1">Hecho con Squarespace</p>
    </div>

    <!-- Ubicación y Contacto -->
    <div class="flex items-end gap-7">
      <div>
   <p class="text-3xl ">Ubicación</p>
      <p class="text-sm text-gray-500">Calle de ejemplo, 123<br />Nueva York, NY 12345</p>
      </div>
   
<div>
  <p class="text-3xl  mt-4">Contacto</p>
      <p class="text-sm text-gray-500">correo@ejemplo.com</p>
      <p class="text-sm text-gray-500">(555) 555-5555</p>
</div>
      
    </div>
  </div>
</footer>