<!-- Sección Productos Destacados --><!-- Sección de Productos Destacados -->
<section class="max-w-screen-xl mx-auto px-4 py-16">
  <div class="flex justify-between items-center mb-12">
    <h2 class="text-4xl">Productos destacados</h2>
    <a
                href="#leer-mas"
                class="inline-block text-center text-black my-8 py-5 px-6 rounded-full font-extralight  transition duration-300 min-w-80 border"
            >
                Ver todo
            </a>
  </div>

  <!-- Grid de productos -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    <!-- Producto 1 -->
    <div class="">
      <img  src="https://cdn.pixabay.com/photo/2019/08/07/07/05/woman-4390055_1280.jpg" alt="Producto 1" class="mx-auto mb-4" />
      <h3 class="text-xl font-medium mb-2">Nombre del producto</h3>
      <p class="text-gray-500 mb-4">USD 25.00</p>
    </div>

    <!-- Producto 2 -->
    <div class="">
      <img  src="https://cdn.pixabay.com/photo/2021/08/12/13/39/woman-6540891_1280.jpg" alt="Producto 1" class="mx-auto mb-4" />
      <h3 class="text-xl font-medium mb-2">Nombre del producto</h3>
      <p class="text-gray-500 mb-4">USD 25.00</p>
    </div>

    <!-- Producto 3 -->
     <div class="">
      <img  src="https://cdn.pixabay.com/photo/2019/12/04/13/12/woman-4672683_1280.jpg" alt="Producto 1" class="mx-auto mb-4" />
      <h3 class="text-xl font-medium mb-2">Nombre del producto</h3>
      <p class="text-gray-500 mb-4">USD 25.00</p>
    </div>

    <!-- Producto 4 (con descuento) -->
 <div class="">
      <img  src="https://cdn.pixabay.com/photo/2021/07/21/04/35/woman-6482214_1280.jpg" alt="Producto 1" class="mx-auto mb-4" />
      <h3 class="text-xl font-medium mb-2">Nombre del producto</h3>
      <p class="text-gray-500 mb-4">USD 25.00</p>
    </div>
  </div>
</section>
