<section class="max-w-screen-xl mx-auto px-4 py-16">
  <div class="grid md:grid-cols-2 gap-12">
    <div class="space-y-4">
      <h2 class="text-6xl max-w-80 text-black">Más sobre nuestra marca</h2>
      <p class="text-lg text-gray-700 max-w-[80%]">
        Cuenta quién eres, tus orígenes, tu proceso o lo que te inspira.
        Aprovecha tu creatividad. ¡Tú puedes! La manera en la que cuentes tu
        historia en línea puede marcar la diferencia.
      </p>
      <a
        href="#leer-mas"
        class="inline-block bg-black text-center text-white my-8 py-5 px-6 rounded-full font-extralight hover:bg-gray-800 transition duration-300 min-w-72"
      >
        Leer más
      </a>
      <div class="flex justify-start py-10">
        <img
          class=""
          src="https://cdn.pixabay.com/photo/2017/08/01/08/16/couple-2563424_1280.jpg"
          alt="Imagen de nuestra marca"
        />
      </div>
    </div>

    <!-- Columna de imagen -->
    <div class="">
      <img
        class="h-[70%] w-full object-cover"
        src="https://cdn.pixabay.com/photo/2024/11/28/08/45/woman-9230049_1280.jpg"
        alt="Imagen de nuestra marca"
      />
    </div>
  </div>
</section>
