 <section class="py-16 px-6 md:px-12">
      <div class="container mx-auto flex flex-col md:flex-row items-center">
        <!-- Texto de la sección -->
        <div class="w-full md:w-1/2 text-center md:text-left mb-8 md:mb-0">
          <h2 class="text-7xl  text-gray-900 mb-4">
            Más sobre nuestra marca
          </h2>
          <p class="text-2xl text-gray-700 mb-6">
            Cuenta quién eres, tus orígenes, tu proceso o lo que te inspira. Aprovecha tu creatividad. ¡Tú puedes! La manera en la que cuentas tu historia en línea puede marcar la diferencia.
          </p>
           <a
                href="#leer-mas"
                class="inline-block bg-black text-center text-white my-8 py-5 px-6 rounded-full font-extralight hover:bg-gray-800 transition duration-300 min-w-80"
            >
                Leer más
            </a>
        </div>

        <!-- Imagen de la sección -->
        <div class="w-full md:w-1/2">
          <img  src="/src/assets/ropa.jpeg" alt="Producto de la marca" class="w-full h-auto rounded-lg shadow-lg object-cover">
        </div>
      </div>
    </section>